<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@800&display=swap" rel="stylesheet">
    <title>Landing Page</title>
  </head>
  <body style="background-color: rgb(249, 251, 253)">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container mt-3 ms-5">
        <a class="navbar-brand " href="/landing" style="font-family: 'Merriweather Sans', sans-serif;"><h4>Mybook</h4></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0"> 
          </ul>
          <ul class="navbar-nav me-2 mb-2 mb-lg-0">
            <li class="nav-item">
              <a class=" btn btn-outline-light d-flex mb-1" type="submit" href="{{ url_for('signup') }}">
                Sign up
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="row pe-3 ps-3">
        <div class="col-sm">
          <h4 class="mt-5 pt-5 pb-3 " style=" color:rgb(2, 80, 145)">Mybook helps you connect and share with people in life</h4>
          <img src="../static/images/fb-home.png" class="img-fluid" alt=" image">
        </div>
        <div class="col-sm">
          <div class="container">
            <div class="mt-5 ms-5 pt-3 ps-5" style="width: 70%">
              <div >
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %} {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %} {% endif %} {% endwith %} {% block content %}{%
                endblock %}
              </div>
              <form method="POST" , action="">
                {{ form.hidden_tag() }}
                <legend class="border-bottom mb-4 pb-3">Login</legend>
                <div>
                  {{ form.username.label(class="form-control-label") }} {{
                  form.username(class="form-control form-control-lg") }}
                </div>
                <div>
                  {{ form.password.label(class="form-control-label") }} {{
                  form.password(class="form-control form-control-lg") }}
                </div>
                <div class="pt-3 pb-3">
                  {{form.submit(class="btn btn-outline-primary") }}
                </div>
              </form>

              <div class="border-top pt-3">
                <small class="text-muted">
                  Create An Account?
                  <a class="ml-2" href="{{ url_for('signup') }}">Sign Up</a>
                </small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
      integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
      integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
