<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@800&display=swap" rel="stylesheet">
    <title>Sign Up</title>
  </head>
  <body style="background-color: rgb(249, 251, 253)">
    <nav
      class="navbar navbar-expand-lg navbar-dark bg-primary"
      style="background-color: #e3f2fd"
    >
      <div class="container-fluid mt-3 ms-5 ">
        <a class="navbar-brand" href="/landing" style="font-family: 'Merriweather Sans', sans-serif;"><h4>
          Mybook</h4></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-1">
          </ul>
          <ul class="navbar-nav me-4  mb-1">
          <li class="nav-item">
            <a class=" btn btn-outline-light d-flex" type="submit" href="{{ url_for('landing') }}">
              Log in
            </a>
          </li>
        </ul>
        </div>
      </div>
    </nav>

    <div class="container w-25 mt-4">
      <div>
        {% with messages=get_flashed_messages(with_categories=true)%}
          {% if messages%}
            {% for category, message in messages%}
              <div class="alert alert-{{category}}">{{message}}</div>
            {%endfor%}
          {%endif%}
        {% endwith %}
        <form method="POST" , action="">
          <legend class="border-bottom mb-4">Sign up</legend>
          {{ form.hidden_tag() }} 
          {{form.username.label(class="form-control-label") }} 
          {% if form.username.errors %}
            {{ form.username(class="form-control form-control-lg is-invalid")}}
            <div class="invalid-feedback">
              {% for error in form.username.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
          {{form.username(class="form-control form-control-lg") }} 
        {%endif%}
          {{
          form.email.label(class="form-control-label") }} 
          {% if form.email.errors %}
          {{ form.email(class="form-control form-control-lg is-invalid")}}
          <div class="invalid-feedback">
            {% for error in form.email.errors %}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
      
          {{
          form.email(class="form-control form-control-lg") }} 
          {%endif%}
          {{
          form.password.label(class="form-control-label") }} 
          {% if form.password.errors %}
          {{ form.password(class="form-control form-control-lg is-invalid")}}
          <div class="invalid-feedback">
            {% for error in form.password.errors %}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
      
          {{
          form.password(class="form-control form-control-lg") }} 
          {%endif%} {{
          form.confirm_password.label(class="form-control-label ") }} 
          {% if form.confirm_password.errors %}
          {{ form.confirm_password(class="form-control form-control-lg is-invalid")}}
          <div class="invalid-feedback">
            {% for error in form.confirm_password.errors %}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
      
          {{
          form.confirm_password(class="form-control form-control-lg") }} 
          {%endif%}{{
          form.submit(class="btn btn-outline-primary mt-3 mb-3") }}
        </form>
      </div>
      <div class="border-top pt-3">
        <small class="text-muted">
          Have An Account?
          <a class="ml-2" href="{{ url_for('landing') }}">Log in</a>
        </small>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
      integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
      integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
